.img-product {
    height: 70%;
    width: 50%;
    object-fit: cover;
}

#main-picture {
    width: 100%;
    background-image: url("../img/mainPicture.jpg");
    height: 50vh;
    background-position: center;
}

@media screen and (max-width: 768px) {
    #main-picture {
        display: none;
    }
    #products-main-section {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .single-product {
        scroll-snap-align: start;
        min-width: 100%;
    }
    .title-product {
        font-size: 80%;
    }
    .text {
        display: none;
    }
    .main-section {
        grid-template-columns: 100%;
        grid-gap: 3%;
    }
}

@media screen and (max-width: 517px) {
    #main-picture {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .middle {
        display: none;
    }
    
    .right-side  {
        margin-bottom: -30%;
    }
}